body {
  background-color: #DADADA;
} 

body > .grid {
  height: 100%;
}

.column {
  max-width: 450px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}