/* body {
  padding: 5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

#root {
  width: 100%;
  height: 100%;
  margin: auto;
}

.ui.grid {
  height: 100%;
}

.auth.column {
  width: auto !important;
  margin: auto !important;
} 